*{
    box-sizing: border-box;
    font-family: sans-serif;
}


.row-list {
    list-style: none; 
    width: 100%; 
    margin: 0px; 
    padding: 0px; 
    display: inline-block; 
}



.menu-lines {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/2c/Ei-navicon.svg"); 
    height: 30px; 
    width: 30px; 
    float: left; 
}

.google-icon {
    height: 30px; 
    width: 30px; 
    float: left; 
    border-radius: 50%; 
    font-size: 20px; 
    color: orange; 
    text-align: center; 
    padding-top: 5px; 
    
}

.question-mark {
    height: 30px; 
    width: 30px; 
    float: right; 
    font-size: 20px; 
    border-radius: 50%; 
    background-color: grey; 
    color: white; 
    text-align: center; 
    padding-top: 4px; 
    margin-right: 10px;
}
.shopping-cart {
    height: 30px; 
    width: 30px; 
    float: right;  
    padding-top: 5px; 
    margin-left: 10px; 
    margin-right: 10px;
}

.a-cirlce {
    height: 30px; 
    width: 30px; 
    border-radius: 50%;
    background-color: purple; 
    color: white; 
    float: right; 
    font-size: 15px; 
    text-align: center; 
    padding-top: 4px; 
    margin-left: 10px; 
    margin-right: 10px;
}

.large-image-container1 {
    background-image: linear-gradient(purple, blue);
    color: white; 
    height: 400px;
    width: 100%; 
    
}

.text-box1 {
    float: left; 
    margin-left: 100px; 
    margin-top: 90px; 
    width: 40%; 
    display: block; 
}

.buy-now {
    height: 30px; 
    width: 75px;  
    background-color: blue; 
    color: white; 
}

.main-shot-image {
    height: 400px; 
    width: 40%;
    display: block; 
    float: left; 
    clear: right; 
    margin-top: 10px;
}

.main-shot-image img {
    max-width: 500px; 
    width: 100%; 
}

.electronics {
    width: 100%; 
    flex-direction: row; 
    margin-top: 40px; 

}

ul.row-list li {
    display: inline-block; 

}

.pixel-3 {
    background-color: grey; 
    background-image: url("https://images.unsplash.com/photo-1516321165247-4aa89a48be28?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1694&q=80"); 
    background-size: cover; 
    height: 200px; 
    width: 17%; 
    margin-left: 15px; 
    margin-right: 15px; 
}

.pixel-stand {
    background-color: grey; 
    background-image: url("https://images.unsplash.com/photo-1513611771808-7e8ab7f1dec6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80"); 
    background-size: cover; 
    height:200px; 
    width: 17%; 
    margin-left: 15px; 
    margin-right: 15px; 
}

.google-home-hub {
    background-color: grey; 
    background-image: url("https://images.unsplash.com/photo-1524253482453-3fed8d2fe12b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80"); 
    background-size: cover; 
    height: 200px; 
    width: 17%; 
    margin-left: 15px; 
    margin-right: 15px; 
}

.google-home-mini {
    background-color: grey; 
    background-image: url("https://images.unsplash.com/photo-1544244015-0df4b3ffc6b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1603&q=80"); 
    background-size: cover; 
    height: 200px; 
    width: 17%; 
    margin-left: 15px; 
    margin-right: 15px; 
}

.pixel-slate {
    background-color: grey; 
    background-image: url("https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80"); 
    background-size: cover; 
    height: 200px; 
    width: 17%; 
    margin-left: 15px; 
}
